env:
  node: true
rules:
  array-bracket-spacing: [ 2, always ]
  curly: [ 2, multi-or-nest ]
  eqeqeq: 0
  indent: [ 2, tab, { SwitchCase: 1 } ]
  linebreak-style: [ 2, unix ]
  no-extra-boolean-cast: 2
  no-extra-semi: 2
  no-implicit-coercion: 2
  no-unreachable: 2
  semi: 2
  semi-spacing: [ 2, { before: false, after: true } ]
  space-before-blocks: 2
