env:
  node: true
rules:
  array-bracket-spacing: [ 2, always ]
  eqeqeq: 0
  linebreak-style: [ 2, unix ]
  no-extra-boolean-cast: 2
  no-extra-semi: 2
  no-implicit-coercion: 2
  semi: 2
  space-before-blocks: 2
  space-unary-ops: [ 2, { words: true, nonwords: true } ]
